
.select-status {
  width: 275px;
  height: 40px;
  margin-top: 20px;
  margin-left: 10px;
  font-size: 14px;
}

.select-status div:nth-child(3) {
  height: 30px;
  border-radius: 20px;
  border-color: #f9c368;
  color: #855400;
  text-align: center;
}