
.select-sort {
  width: 100px;
  height: 40px;
  margin-top: 20px;
  margin-left: 10px;
  font-size: 14px;
}

.select-sort div:nth-child(3) {
  height: 38px;
  border-radius: 20px;
  border-color: #f9c368;
  color: #855400;
  text-align: center;
}