@import '../../../styles/styles';

#welcome-container {
    width: 100%;
    height: 100vh;
    background-color: color('pink');
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-image {
    width: 50%;
    height: 200px
}

.bottom-images {
    width: 20vw;
    height: 20vh;
    margin: 20px
}

#footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    bottom: 50px
}