
.select-category {
  width: 400px;
  margin-top: 20px;
  margin-left: 10px;
  font-size: 14px;
}

.select-category div:nth-child(3) {
  border-radius: 10px;
  border-color: #f9c368;
  color: #855400;
}