@import '../../../styles/styles';

.main {
  height: 100vh;
  width: 100vw;
  background-color: color('background-pink');
}

.screens {
  position: absolute;
  right: 0;
  width: calc(100% - 350px);
  height: 100%;
  overscroll-behavior-y: contain;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #D35CA3;
}