.sideTitle {
    // height: 100%;
    position: absolute;
    left: 0;
    width: 100%;
    overflow: hidden;
    width: 338px;
    background-color: #CB4495;
}

// img {
//     height: 640px;
//     width: 640px;
//     left: 294px;
//     top: -170px;
//     border-radius: 0px;

// }

// .app-container {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     justify-content: center;
// }

.cupcake-img {
    display: flex;
    align-items: center;
}

.cupcake-img img{
    height: 400px;
    width: 400px;
    // left: 294px;
    // top: -170px;
    // border-radius: 0px;
    margin-left: 103%;
    margin-top: -99%;
    display: inline-block;
}

body {
    background-color: #BC2680;
}

.font {
    font-family: 'Potta One';
    font-size: 47px;
    color: #ffffff;
    align-items: center;
    margin-top: 60px;
}

.logo-img{
    height: 87px;
    width: 322px;
    margin-left: 8px;
    margin-top: 19px;
    border-radius: 0px;
}

h1 {
    text-align:center;
}

.penguin-img {
    height: 264px;
    width: 215px;
    margin-left: 70px;
    margin-top: 23px;
    border-radius: 0px;
}

.app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: center;
    overflow: hidden;
    margin-left: -27%;
}

.title {
    height: 34px;
    width: 0px;
    color: #ffffff;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 47px;
    letter-spacing: 0em;
    text-align: center;


}