.spinner-wrapper {
  position: relative;
  left: 30%;
  top: 10%;
}

.spinner {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 999999;
  background: black;
  opacity: 0.6;
}

.icon-add-todo {
  width: 280px;
  height: 300px;
  margin: 0 0 50px 50px;
  bottom: 20px;
  top: 250px;
  color: #f9c368;
  position: absolute;
  font-size: xx-large;
  animation: 4s linear 0s infinite alternate slidein;
}

.hide-spinner {
  display: none !important;
}

/* animation */
@-webkit-keyframes slidein {
  0% {
    transform: translateX(0px);
  }

  10% {
    transform: translateX(40px) translateY(15px);
  }

  20% {
    transform: translateX(80px) translateY(0px);
  }

  30% {
    transform: translateX(120px) translateY(15px);
  }

  40% {
    transform: translateX(160px) translateY(0px);
  }

  50% {
    transform: translateX(200px) translateY(15px);
  }

  60% {
    transform: translateX(240px) translateY(0px);
  }

  70% {
    transform: translateX(280px) translateY(15px);
  }

  80% {
    transform: translateX(320px) translateY(0px);
  }

  90% {
    transform: translateX(360px) translateY(15px);
  }

  100% {
    transform: translateX(400px) translateY(0px);
  }
}

@keyframes slidein {
  0% {
    transform: translateX(0px);
  }

  10% {
    transform: translateX(40px) translateY(15px);
  }

  20% {
    transform: translateX(80px) translateY(0px);
  }

  30% {
    transform: translateX(120px) translateY(15px);
  }

  40% {
    transform: translateX(160px) translateY(0px);
  }

  50% {
    transform: translateX(200px) translateY(15px);
  }

  60% {
    transform: translateX(240px) translateY(0px);
  }

  70% {
    transform: translateX(280px) translateY(15px);
  }

  80% {
    transform: translateX(320px) translateY(0px);
  }

  90% {
    transform: translateX(360px) translateY(15px);
  }

  100% {
    transform: translateX(400px) translateY(0px);
  }
}
